header{
    position: relative;
}
.banner{
    height: 448px;
    color: #FFF;
    object-fit: contain;
}
.banner__btns{
    display: flex;
}
.banner__btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: .2vw;
    padding: .4rem 1rem;
    margin-bottom: 20px;
    transition: .2s;
    box-sizing: border-box;
}
.banner__btn:hover{
    color: #000;
    background-color: rgba(170, 170, 170, .9);
}
/*.play{*/
/*    background-color: #FFF;*/
/*    color: #000;*/
/*}*/
.space{
    margin-left: 4px;
}
.banner__contents{
    position: absolute;
    bottom: 10%;
    margin-left: 40px;
    word-break: keep-all;
    z-index: 1;
}
.banner__title{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
    padding-bottom: .5rem;
}
.banner__description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 1rem;
    max-width: 400px;
}
.banner--fadeBottom{
    height: 100%;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,.31), #111);
}

@media(min-width: 1500px){
    .banner{
        height: 600px;
        position: relative;
    }
    .banner--fadeBottom{
        width: 100%;
        height: 40rem;
        position: absolute;
        bottom: 0;
    }
}
@media (max-width: 768px) {
    .banner__title{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .banner__contents{
        padding: 30px;
        margin-left: 0;
        bottom:0;
        transform: translateY(0);
    }
    .banner__description {
        width: auto;
        font-size: 0.8rem;
    }
    .info{
        text-align: start;
        padding-right: 1.2rem;
    }
    .space{
        margin-left: 6px;
    }
    .banner__btn{
        font-size: 0.8rem;
        border-radius: 4px;
        margin-bottom: 0;
    }
}


/*video 부분*/
.videoFrame{
    position: relative;
}
.closeVideoBtn{
    position: absolute;
    padding: 10px;
    cursor: pointer;
    top:0;
    right: 0;
    background: transparent;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
}